<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666030645547-vgncevd5fmjg9ojq1n83lutak11k5i5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666030645547-vgncevd5fmjg9ojq1n83lutak11k5i5t</string>
	<key>API_KEY</key>
	<string>AIzaSyDJsCjdUGStF-Dk7bQoRzzd4GFamPumkak</string>
	<key>GCM_SENDER_ID</key>
	<string>666030645547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.GamingGame</string>
	<key>PROJECT_ID</key>
	<string>fruitsdancing-81edc</string>
	<key>STORAGE_BUCKET</key>
	<string>fruitsdancing-81edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666030645547:ios:d406d89a454759d544e56e</string>
</dict>
</plist>